.info {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  padding-top: rem(18px);

  @media #{media('<',d)} {
    gap: rem(24px);
  }

  @media #{media('<',m)} {
    padding-top: 0;
  }

  &__content {
    position: relative;
    border: 1px solid #fff;
    padding: rem(48px);
    padding-left: rem(28px);
    display: flex;
    flex-direction: column;
    gap: rem(20px);

    @media #{media('<',m)} {
      gap: rem(24px);
    }

    &-decor {
      position: absolute;
      top: -1px;
      z-index: 10;
      left: rem(56px);
      width: rem(60px);
      height: rem(21px);
      background: #000;
    }
  }

  &__item {
    display: flex;
    gap: rem(24px);

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      padding-bottom: rem(20px);

      @media #{media('<',m)} {
        padding-bottom: rem(24px);
      }
    }

    &-title {
      width: rem(172px);
      flex-shrink: 0;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(8px);

      @media #{media('<',m)} {
        gap: rem(12px);
      }
    }
  }
}