.text {
  &_size {
    &_20 {
      font-size: rem(20px);
      line-height: rem(24px);
      letter-spacing: -0.02em;

      @media #{media('<',d)} {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }

    &_18 {
      font-size: rem(18px);
      line-height: rem(24px);
      letter-spacing: -0.01em;

      @media #{media('<', d)} {
        font-size: rem(16px);
        line-height: rem(20px);
      }
    }
  }

  &_color {
    &_white {
      color: #ffffff;
    }

    &_gray {
      color: #666666;
    }
  }
}