---
import Layout from '@widgets/layout/Layout.astro'
import Aside from './_components/aside/Aside.astro'
import Info from './_components/info/Info.astro'
import Icon from '@shared/ui/icon/Icon.astro'
---

<Layout
  pageName="Андрей Сидоренко | CV для стажировки"
  class="relative p-10 devices:p-5 devices:pb-[3.625rem]"
>
  <a
    href="https://redcollar.ru/"
    target="_blank"
    class="absolute right-10 top-[1.625rem] devices:static devices:mb-12"
  >
    <Icon
      name="logo"
      initial
      class="h-6 w-auto devices:h-[1.375rem]"
    />
  </a>

  <div class="grid grid-cols-8 gap-6 devices:flex devices:flex-col devices:gap-10">
    <Aside class="col-span-2" />

    <Info class="col-span-6" />
  </div>
</Layout>
