.editable-content {

  p,
  li,
  span {
    font-size: rem(18px);
    line-height: rem(24px);
    letter-spacing: -0.01em;

    @media #{media('<', d)} {
      font-size: rem(16px);
      line-height: rem(20px);
    }

    strong,
    b {
      font-weight: 700;
    }

    em,
    i {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }

    s {
      text-decoration: line-through;
    }

    a {
      display: inline;
    }
  }

  a {
    cursor: pointer;
    transition: color $transition;
    text-decoration: underline;
    font-weight: 700;

    @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
      &:hover {
        color: #F51B1B;
      }
    }
  }

  /* Заголовки */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(20px);
    line-height: 120%;
    letter-spacing: 0.01em;
    font-weight: 700;
    margin-top: rem(12px);

    @media #{media('<', d)} {
      font-size: rem(18px);
    }
  }

  /* Маркированные списки */

  ul {
    display: flex;
    flex-direction: column;
    gap: rem(8px);

    li {
      display: flex;
      align-items: flex-start;

      &::before {
        content: '🞄';
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(28px);
        flex-shrink: 0;
      }
    }
  }

  /* Нумерованные списки */

  ol {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    counter-reset: list-item;

    li {
      display: flex;
      align-items: flex-start;
      counter-increment: list-item;

      &::before {
        content: counter(list-item) '.';
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(28px);
        flex-shrink: 0;
      }
    }
  }
}