.title {
  color: #fff;
  font-family: $font-accent;

  &_size {
    &_24 {
      font-size: rem(24px);
      line-height: rem(28px);
      letter-spacing: -0.02em;

      @media #{media('<', d)} {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }

    &_16 {
      font-size: rem(16px);
      line-height: 100%;
      letter-spacing: 0;
    }
  }
}