---
interface Props {
  pageName?: string
  props?: any
  class?: string
}

const { pageName, class: className, ...props } = Astro.props as Props

export { Layout }
---

<!doctype html>
<html
  lang="ru"
  data-overlayscrollbars-initialize
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="icon"
      type="image/png"
      href="favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="favicon/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="CV"
    />
    <link
      rel="manifest"
      href="favicon/site.webmanifest"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <slot name="description">
      <meta
        name="description"
        content="Описание страницы"
      />
    </slot>

    <slot name="opengraph">
      <meta
        property="og:title"
        content="Название страницы"
      />
      <meta
        property="og:description"
        content="Описание страницы"
      />
      <meta
        property="og:image"
        content="https://example.com/image.jpg"
      />
      <meta
        property="og:url"
        content="https://example.com"
      />
      <meta
        property="og:type"
        content="website"
      />
    </slot>

    <title>{pageName}</title>
  </head>
  <body
    data-scrollbar
    data-overlayscrollbars-initialize
  >
    <div class="wrapper">
      <main
        class:list={['page-container', className]}
        {...props}
      >
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  @import '@shared/styles/index.scss';
  @import './index.scss';
</style>

<script src="@shared/scripts/index.ts"></script>
